@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger:  #ef4444;
    --color-info:    #3b82f6;
  }

  body {
    @apply bg-surface text-slate-100;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-300 rounded-full;
  }
}
